@import '~@payloadcms/ui/scss';

@layer payload-default {
  .vanguard-logs {
    margin-bottom: var(--base);

    &__controls {
      display: flex;
      align-items: center;
      gap: calc(var(--base) / 4);
      margin-bottom: var(--base);
    }

    &__filename-btn {
      text-decoration: underline;
      display: inline-flex;
      align-items: center;
    }

    &__download-btn {
      margin-left: auto;
    }

    & .btn {
      margin-block: 0;
    }

    & .btn .icon-copy {
      padding: 0;
    }
    
    & .btn .icon--document, & .btn .icon--copy {
      color: var(--theme-elevation-300);
    }

    & .collapsible__content {
      padding: 0;
    }

    & .textarea textarea:disabled {
      background: var(--theme-elevation-0);
      color: var(--theme-elevation-700);
      cursor: auto;
    }
  }
}
